<script setup>
  import { Suspense } from 'vue'
  import { collectOptions } from 'helpers/context.js'
  import { useTaskStore } from 'stores/task'
  import TaskAddFormComponent from './components/TaskAddFormComponent.vue'
  import { useTaskConfigStore } from '../stores/task'

  const options = collectOptions()
  const store = useTaskStore()
  const formConfigStore = useTaskConfigStore()
  store.setUrl(options.api_url)
  formConfigStore.setUrl(options.form_config_url)

  const redirectOnsave = (task) => {
    const typeLabel = task.type_.replace('internal', '')
    window.location.replace('/' + typeLabel + 's/' + task.id)
  }
</script>

<template>
  <Suspense>
    <div class="limited_width width30">
      <TaskAddFormComponent
        :initialData="options.initial_data"
        @save="redirectOnsave"
      ></TaskAddFormComponent>
    </div>
    <template #fallback> Loading... </template>
  </Suspense>
</template>
