<script setup>
const props = defineProps({
    name: { type: String, required: true },
    css: { type: String, default: "" }
})

const url = "/static/icons/endi.svg#" + props.name;
</script>

<template>
    <svg :class="css">
        <use :href="url"></use>
    </svg>
</template>
