<section id="work_form" class="size_middle">
    <form name="current">
        <div role="dialog" id="work-forms" aria-modal="true" aria-labelledby="work-forms_title">
            <div class='modal_layout'>
                <header>
                    <button class="icon only unstyled close" title="Fermer cette fenêtre"
                        aria-label="Fermer cette fenêtre" type='button'>
                        <svg>
                            <use href="/static/icons/endi.svg#times"></use>
                        </svg>
                    </button>
                    <h2>{{title}}</h2>
                </header>
                <div class="modal_content_layout">
                    <div class='modal_content'>
                        <div class='message-container'></div>
                        <div class='errors'></div>
                        <fieldset>
                            <div class='field-sheets'></div>
                        </fieldset>
                    </div>
                    <footer>
                        <button class='btn btn-primary icon' type='submit' value='submit'>
                            <svg>
                                <use href="/static/icons/endi.svg#save"></use>
                            </svg>Dupliquer
                        </button>
                        <button class='icon' type='reset' value='submit' title="Annuler et revenir en arrière"
                            aria-label="Annuler et revenir en arrière">
                            <svg>
                                <use href="/static/icons/endi.svg#times"></use>
                            </svg>Annuler
                        </button>
                    </footer>
                </div>
            </div>
        </div>
    </form>
</section>
