<h2 class='title collapse_title'>
    <a
        data-target='#payment-content'
        data-toggle='collapse'
        aria-expanded="false"
        aria-controls="payment-content"
        >
		<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
        Paiements et acomptes
    </a>
</h2>
<div class='collapse_content'>
	<div id="payment-content" class='content collapse' aria-expanded="false">
		<div class='payment_display-container'></div>
		<div class='payment-deposit-container'></div>
		<div class='payment_times-container'></div>
		<div class='payment-lines-container'></div>
	</div>
</div>
