{{#if can_validate_attachments}}
    <td class="col_text" colspan="2"></td>
{{ else }}
    <td class="col_text" colspan="3"></td>
{{/if}}
<td class="col_text"
    {{#if can_validate_attachments}}
      colspan="{{#is_achat}}6{{else}}5{{/is_achat}}"
    {{ else }}
      colspan="{{#is_achat}}5{{else}}4{{/is_achat}}"
    {{/if}}
>
    {{#if isPreviewable}}
         <a href="#"
           title="Visualiser le justificatif {{{label}}}"
           aria-label="Visualiser le justificatif {{{label}}}"
        >
           {{{label}}}
        </a>
    {{else}}
        <a href="{{{openLink}}}"
           title="Télécharger le justificatif {{{label}}}"
           aria-label="Télécharger le justificatif {{{label}}}"
        >
            {{{label}}}
        </a>
    {{/if}}


</td>
{{#if edit}}
    <td class="col_actions width_four">
        <span class="new-expense-btn"></span>
        <span class="link-btn"></span>
        <span class="delete-btn"></span>
    </td>
{{/if}}
