<script setup>
  const emit = defineEmits(['close', 'submitForm'])

  // const onClose = (event) => emit('close');
  const onSubmit = (event) => emit('submitForm', event)
</script>
<template>
  <div class="layout flex two_cols quarter_reverse">
    <div>
      <form @submit="onSubmit">
        <slot name="fields"></slot>
        <div class="btn-group">
          <slot name="buttons"></slot>
        </div>
      </form>
    </div>
  </div>
</template>
